@use '../..' as *;

.testimonials{
  background-color:  $color-black;
  width: 100%;
  margin-top: -0.5rem;

  position: relative;

  &__slider{
   height: 100%;
   width: 100%;
   overflow-x: scroll;

   &::-webkit-scrollbar{
    display: none;
   }
  }

  &__container{
    height: 40rem;
    width: max-content;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }

  &__content{
    height: 100%;
    width: 60vw;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    
    border: 3px solid;
    border-image: $gradient-border-image 1;


    &-about{
      flex: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      row-gap: 1rem;

      & > p{
        font-family: $font-poppins;
        font-size: 1.5rem;
        font-weight: 400;
        color: $color-floral-white;
      }
    }


    &-user_info{
      white-space: nowrap;
      font-family: $font-poppins;
      color: $color-floral-white;
      text-transform: capitalize;
      line-height: 1;

      & h3{
        display: inline;
        font-size: 1rem;
        font-weight: 400;
      }

      & span{
        font-size: 1rem;
        font-weight: 200;
      }
    }

   
    &_user-photo{
      flex: 0.7;
      height: 100%;
      width: 100%;

      & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  &__sliderBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6rem;
    z-index: 2;
  }

}

/* Media Queries*/

@media screen and (min-width: 1500px){
  .testimonials__sliderBtn .slider__btn button{
    font-size: 1.5rem;
    padding: 0.6rem;
  }

  .testimonials__content-about{
    row-gap: 2rem;
  }
  
  .testimonials__sliderBtn{
    bottom: -7.5rem
  }

  .testimonials__content-about > p{
    font-size: 1.6rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 1.2rem;
    }

    span{
      font-size: 1.2rem;
    }
  }

  .testimonials__container{
    gap: 10rem;
  }
}

@media screen and (min-width: 2000px){

  .testimonials__sliderBtn .slider__btn button{
    font-size: 3rem;
    padding: 0.7rem;
  }

  .testimonials__sliderBtn .slider__btn{
    bottom: 6rem ;
  }

  .testimonials__content-about > p{
    font-size: 2.2rem;
  }

  .testimonials__content-about{
    row-gap: 1.8rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 1.5rem;
    }

    span{
      font-size: 1.5rem;
    }
  }

  .testimonials__container{
    height: 45rem;
  }

}


@media screen and (max-width:1250px){
  .testimonials__content-about > p{
    font-size: 1.16rem;
  }

  .testimonials__content{
    gap: 2rem;
  }

  .testimonials__container{
    height: 35rem;
  }
}


@media screen and (max-width:1150px){
  .testimonials__content-about > p{
    font-size: 1.1rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 0.8rem;
    }

    span{
      font-size: 0.8rem;
    }
  }

  .testimonials__container{
    height: 30rem;
  }
}


@media screen and (max-width:950px){
  .testimonials__content-about > p{
    font-size: 1.05rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 0.8rem;
    }

    span{
      font-size: 0.8rem;
    }
  }

  .testimonials__container{
    height: 28rem;
  }
}


@media screen and (max-width:850px){
  
 .testimonials__content{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }
  
  .testimonials__content_user-photo{
    width: 30%;
    height: 30%;
  }

  .testimonials__content-about{
    flex: 0;
  }

  .testimonials__content{
    gap: 1rem;
  }
}


@media screen and (max-width:790px){
 
  .testimonials__content-about > p{
    font-size: 1rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 0.8rem;
    }

    span{
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width:750px){
 
  .testimonials__content-about > p{
    font-size: 0.9rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 0.7rem;
    }

    span{
      font-size: 0.7rem;
    }
  }

  .testimonials__container{
    height: 25rem;
  }

}

@media screen and (max-width:690px){
 
  .testimonials__content-about > p{
    font-size: 0.7rem;
  }

  .testimonials__content-user_info{
    h3{
      font-size: 0.6rem;
    }

    span{
      font-size: 0.6rem;
    }
  }

  .testimonials__content-user_info{
    white-space: normal;
  }

  .testimonials__content{
    padding: 1rem;
  }

  .testimonials__content_user-photo{
    width: 30%;
    max-height: 25%;
  }
}

@media screen and (max-width: 600px){
  .testimonials__content-about{
    row-gap: 0.5rem;
  }
}