@use '../..' as *;

.aboutus{
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  margin-top: -0.5rem;

  & .heading__primary {
    text-align: center;
    color: $color-floral-white;
    font-weight: 500;
    
  }
}
