@use '../..' as *;

.toplocations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-floral-white;
  gap: 4rem;

  & h2{
    font-family: $font-roboto;
    font-size: 10rem;
    color: $color-blue;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    line-height: 1;
  }


  &__content{
    display: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;

    & div{
      height: 100%;
      width: 100%;

      & img{
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        box-shadow: 0 0 1rem rgba(0,0,0,.4);
      }
    }

    & div:first-child,
    & div:last-child{
      transform: translateY(-50px);
    }
  }

  & p{
    font-weight: 600;
    text-align: center;
  }

}

/* Media queries */

@media screen and (min-width:2000px){
  .toplocations h2{
    font-size: 13rem;
    margin-bottom: 4rem;
  }

}

@media screen and (max-width:1401px){
  .toplocations h2{
    font-size: 10rem;
  }
}

@media screen and (max-width:1130px){
  .toplocations h2{
    font-size: 8rem;
  }
}

@media screen and (max-width:1050px){
  .toplocations__content{
    gap: 4rem;
  }
}

@media screen and (max-width:1000px){
  .toplocations__content{
    gap: 2rem;
  }
}

@media screen and (max-width:800px){
  .toplocations h2{
    font-size: 6.5rem;
  }
}

@media screen and (max-width:650px){
  .toplocations__content{
    gap: 1rem;
  }

  .toplocations h2{
    font-size: 5rem;
  }
}

@media screen and (max-width:500px){
  .toplocations__content{
    gap: 0.5rem;
  }

  .toplocations h2{
    font-size: 3.5rem;
  }
}

@media screen and (max-width:500px){
  .toplocations h2{
    margin-bottom: 3rem;
  }
}

@media screen and (max-width:190px){
  .toplocations h2{
    margin-bottom: 5rem;
  }
}

@media screen and (max-width:140px){
  .toplocations h2{
    margin-bottom: 8rem;
  }
}

@media screen and (max-width:120px){
  .toplocations h2{
    margin-bottom: 10rem;
  }
}